<div id="<%= dom_id stock %>">
  <p>
    <strong>Name:</strong>
    <%= stock.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stock.price %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= stock.transaction_id %>
  </p>

</div>
